body {
    color: white;
    background-color: black;
}

.centered {
    text-align: center;
}

.title {
    color: red;
}

.title2 {
    color: red;
    text-indent: 5px;
}

.title3 {
    color: rosybrown;
    font-style: italic;
    text-indent: 10px;
}

.desc {
    color: rgb(255, 255, 238);
    text-indent: 30px;
    line-height: 7px;
}