.centered {
    text-align: center;
}

.title {
    color: blue;
}

.title2 {
    color: blueviolet;
    font-style: italic;
}

.desc {
    color: black;
    text-indent: 30px;
    line-height: 7px;
}