body {
    color: white;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/397/269/non_2x/dark-geometric-black-abstract-background-elegent-design-pattern-free-vector.jpg');
    box-shadow: "0px 4px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,.5)"
}

code {
    color: firebrick;
}

.pagetitle {
    font-size: 50px;
}

.centered {
    text-align: center;
}

.title {
    color: red;
}

.title2 {
    color: indianred;
    text-indent: 5px;
}

.title3 {
    color: rosybrown;
    font-style: italic;
    text-indent: 10px;
}

.desc {
    color: rgb(255, 255, 238);
    text-indent: 30px;
    /*line-height: 7px;*/
}

p {
    margin-bottom: 8px;
}

.desc2 {
    border-style: dotted;
    border-color: blue;
    margin-left: 50px;
    width: fit-content;
    block-size: fit-content;
    border-left: 0px;
    border-right: 0px;
    text-indent: 2px;
}

b {
    color: rgb(255, 255, 203);
}

.tablechar {
    margin-left: 60px;
    line-height: 12px;
}